In [1]:
print("hi")

hi

In [2]:
input("")

khan

'khan'

In [6]:
#Not Method (oop)


def cit():
    listk=["pythit","Khan ","lala"]
    print(listk)
cit()

['pythit', 'Khan ', 'lala']

In [4]:
def empty():
    pass

SyntaxError: unexpected EOF while parsing (<ipython-input-4-815dc7b4510c>, line 2)

In [11]:
def sujja(x,y):
    return x * y
sujja(2,6)

12

In [12]:
sujja(6,9)

54

In [1]:
first_number = 2
secound_number = 3
total = first_number + secound_number
total

5

In [2]:
def add():
    first_number = 3
    secound_number = 5
    total = first_number + secound_number 
    print(total)

In [3]:
add()

8

In [9]:
def add_numbers(first_number, second_number):
    total = first_number + second_number
    print(total)
    
add_numbers(500,100)

600

In [10]:
add_numbers(2.212,5.5)

7.712

In [20]:
def couple(husband_name ,wife_name ):
    print("The Names of the Couple Are " + husband_name +"and" + wife_name)
couple(husband_name="Asif",wife_name="Bibi")

The Names of the Couple Are AsifandBibi