In [1]:
name ="Ali"
type(name)

str

In [3]:
name1 =32332.32
type(name1)

float

In [4]:
name2 =2323
type(name2)

int

In [3]:
list1 = ['jawad','ammar','ali',2019,2000]
list1[4]

2000

# Accessing the Values in List

##### list1

In [10]:
list1[3]

2019

In [8]:
list1[1:3]

['jawad', 'ammar', 'ali', 2019, 2000]

In [13]:
list1[1:3]

['ammar', 'ali']

# Updating the List

In [15]:
list1

['jawad', 'ammar', 'ali', 2019, 2000]

In [11]:
list1[1:3]

['ammar', 'ali']

In [17]:
list2 =[1,2,3,4,5,6,7]

In [18]:
list2

[1, 2, 3, 4, 5, 6, 7]

In [19]:
list2[2]

3

In [20]:
list2[2] = 300

In [21]:
list2

[1, 2, 300, 4, 5, 6, 7]

In [23]:
list2[3] = 400
list2

[1, 2, 300, 400, 5, 6, 7]

In [ ]:
list2

# Delete List Elements

In [24]:
list1

['jawad', 'ammar', 'ali', 2019, 2000]

In [15]:
'iqbal' in list1

False

In [25]:
list2

[1, 2, 300, 400, 5, 6, 7]

In [26]:
del list2 [2]

In [27]:
list2

[1, 2, 400, 5, 6, 7]

In [31]:
del list2[4] 
list2

IndexError: list assignment index out of range

In [30]:
list2

[1, 2, 400, 5]

# Basic List Operations

In [32]:
list1

['jawad', 'ammar', 'ali', 2019, 2000]

In [33]:
len(list1)

5

In [34]:
list1 + list2

['jawad', 'ammar', 'ali', 2019, 2000, 1, 2, 400, 5]

In [37]:
list1 * 3

['jawad',
 'ammar',
 'ali',
 2019,
 2000,
 'jawad',
 'ammar',
 'ali',
 2019,
 2000,
 'jawad',
 'ammar',
 'ali',
 2019,
 2000]

In [38]:
list2 * 5

[1, 2, 400, 5, 1, 2, 400, 5, 1, 2, 400, 5, 1, 2, 400, 5, 1, 2, 400, 5]

In [40]:
8 in list2

False

# Indexing | Slicing |

In [41]:
L = ['spam','Spam','SPAM']
L

['spam', 'Spam', 'SPAM']

In [42]:
len(L)

3

In [44]:
L[2]

'SPAM'

In [46]:
L [-3]

'spam'

In [47]:
L [1:]

['Spam', 'SPAM']

# Built in List Functions & methods

In [48]:
len(list2)

4

In [49]:
max(list2)

400

In [50]:
min(list2)

1

In [51]:
list(seq)

NameError: name 'seq' is not defined

In [52]:
lis3 = [200,33,44]
lis3

[200, 33, 44]

In [54]:
list2.append(500)
list2

[1, 2, 400, 5, 500, 500]

In [55]:
list2

[1, 2, 400, 5, 500, 500]

In [56]:
list2.extend(213)

TypeError: 'int' object is not iterable

In [57]:
list2.insert(4,700)

In [58]:
list2

[1, 2, 400, 5, 700, 500, 500]

In [59]:
list2.remove(2)

In [63]:
list2

[1, 400, 5, 700, 500, 500]

In [65]:
list2.remove(1)

In [66]:
list2

[400, 5, 700, 500, 500]

In [67]:
list2.reverse()

In [68]:
list2

[500, 500, 700, 5, 400]

In [69]:
list2.sort()

In [70]:
list2

[5, 400, 500, 500, 700]