
# Chap 15 List

In [2]:
city_0 = "Atlanta"
city_1 = "Baltimore"
city_2 = "Chicago"
city_3 = "Denver"
city_4 = "Los Angeles"
city_5 = "Seattle"
print("Welcome to " + city_4)

Welcome to Los Angeles

In [6]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]
print('welcome to' , cities[2])
print(cities[5])

welcome to Chicago
Seattle

In [15]:
mixed_things = [1, "Bob","Bob", "Now is"]
#print(mixed_things)
#type(mixed_things)
#print(mixed_things[1])
#print(type(mixed_things[0]))
#1 in mixed_things
mixed_things.index('Bob')

1

In [17]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = "My first bicycle was a " + bicycles[2] + "."
print(message)

My first bicycle was a redline.

In [ ]:
numbers = list(range(1,10))
print(numbers)

In [ ]:
even_numbers = list(range(20,2,-2))
print(even_numbers)

# Chap 16 Lists: Adding and changing elements

In [28]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]
#cities.append("New York")
#print(cities)
#cities.append('uk')
#print(len(cities))
cities.insert(2,'London')
cities.index('London')
cities[1] = 'Karachi'
cities

['Atlanta', 'Karachi', 'London', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [32]:
cities[2]="Karachi"
cities

['Atlanta',
 'Karachi',
 'Karachi',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle']

# 2019 22 05

In [ ]:
x = 'Pakistan zindabad'
y = x[2:10]
print(y)

In [ ]:
cities.insert(0, "Old York")


print(len(cities))
cities.insert(15 , 'pakistan')
cities.find('pakistan')

In [ ]:
user = ['user1']
user.insert(5 , 'user2')
user.index('user2')
print(user[5])

In [3]:
x = [1,2,3,4]
y = x
y.append(8)
print(x)
print(y)

[1, 2, 3, 4, 8]
[1, 2, 3, 4, 8]

In [ ]:
todays_tasks = ['sheep']
todays_tasks = todays_tasks + ["Walk dog", "Buygroceries"]
print(todays_tasks)

# Chap 17 Lists: Taking slices out of them

In [4]:
cities = ["Atlanta", "Baltimore", "Chicago","Denver", "Los Angeles", "Seattle"]
new_cities = cities[1:3]
new_cities

['Baltimore', 'Chicago']

In [5]:
print(cities)
smaller_list_of_cities = cities[2:5]
smaller_list_of_cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

['Chicago', 'Denver', 'Los Angeles']

In [10]:
x = [1,2,3,4]
print(x)
y = x
print(y)
y.append(9)
print(y)
print(x)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4, 9]
[1, 2, 3, 4, 9]

In [14]:
x = [1,2,3,4]
y = x[:]
print(y)
y.append(9)
print(y)
print(x)

[1, 2, 3, 4]
[1, 2, 3, 4, 9]
[1, 2, 3, 4]

In [82]:
#bolean  True or False 
minutes = list(range(2,21,3))  #2 argu

list321= ["iqbal","sdfsdf","sdgsdgda","lkhasd","adf"]
minutes.sort()
minutes
#list321.sort()
#list321

[2, 5, 8, 11, 14, 17, 20]

In [43]:
#new_list = list(range(10,210,10)) #step Argument
#type(new_list)
new_list = list(range(1,20))
print(new_list)
smaller_list = new_list[-10:6]
smaller_list.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

[]

In [44]:
print(cities)
smaller_list_of_cities = cities[2:]
smaller_list_of_cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

['Chicago', 'Denver', 'Los Angeles', 'Seattle']

# Chap 18 Lists: Deleting and removing elements

In [65]:
tasks = ["email Frank", "call Sarah", "meet with Zach" ,"call Sarah",]
#del tasks
#tasks.clear()
#tasks.count("call Sarah")
tasks.sort()
tasks

['call Sarah', 'call Sarah', 'email Frank', 'meet with Zach']

In [68]:
x = 'this is slicing on string'
y = x[2:10]
y

'is is sl'

# 2019 22 05 Last to submit 2019 24 05 mid night 12 am

1. make a list of friends
2. make a list of close friends
3. remove friends from friends list who are not close friends

In [87]:
v = str(input())

asdasd