In [ ]:
#basic Variable 
#A -Z a-z _ 

age,name = 30 ,"name "

In [ ]:
#data Type int float string long complex
age = 

#1 ) Number 
#2) string 
#3) List 
#4 ) Tuple
#5) Dictionary

In [ ]:
#1 ) Number  
     # 1) int =  10 ,100 080 ,
    #2) long  = 52586625L
    #3) float = 0.0  252.1045 
    #4) complex = 3.14j  ,45.j  ,.876j

In [10]:
str = "Hello wolrd "
print(str)
print(str[4])
print(str[2:5])
print(str[ 2:])
print(str[ :6])
print( str * 3 )
print( str * 5)

Hello wolrd
o
llo
llo wolrd
Hello
Hello wolrd Hello wolrd Hello wolrd
Hello wolrd Hello wolrd Hello wolrd Hello wolrd Hello wolrd

In [14]:
# + 
a = "Hello Pakistan "
b = "Python ramadhan"
c = a + b
c

'Hello Pakistan Python ramadhan'

# Python - Basic Operators

# Types of Operator
Python language supports the following types of operators.

Arithmetic Operators
Comparison (Relational) Operators
Assignment Operators
Logical Operators
Bitwise Operators
Membership Operators
Identity Operators

In [27]:
#Arithmetic Operators
python = 10 
python

10

In [28]:
ramadhan = 20
ramadhan

20

In [19]:
python + ramadhan #add
python - ramadhan # sub
python * ramadhan #Multi

200

In [20]:
python / ramadhan # Deve

0.5

In [21]:
python % ramadhan # Modulus

10

In [25]:
# ** Exponent

python ** ramadhan

4

In [29]:
python // ramadhan

0

# Comparison (Relational) Operators

In [30]:
print(python)
print(ramadhan)

10
20

In [31]:
#== ,!=  > ,< ,>= ,<= ,

python == ramadhan

False

In [32]:
python != ramadhan

True

In [33]:
python > ramadhan

False

In [34]:
python < ramadhan

True

In [35]:
python >= ramadhan

False

In [36]:
python <= ramadhan

True

# Assignment Operators

In [39]:
pythoninramadhan = python + ramadhan
print(pythoninramadhan)
pythoninramadhan

30

30

# Assignment  no 2