In [1]:
name ="Ali"
type(name)

str

In [3]:
name1 =32332.32
type(name1)

float

In [4]:
name2 =2323
type(name2)

int

In [5]:
list1 = ['jawad','ammar','ali',2019,2000]
list1

['jawad', 'ammar', 'ali', 2019, 2000]

# Accessing the Values in List

# Updating the List